/*
* Globals
*/
.loading {
	margin-top: 400px;
}
li {
	list-style-type: none;
}

/* Links */
a,
a:focus,
a:hover {
	text-decoration: none;
}

a:hover {
	opacity: 0.5;
}
.nav-links {
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritance from `body` */
	background-color: #fff;
	border: 1px solid #fff;
}


/*
* Base structure
*/

html,
body {
    max-width: 100%;
    overflow-x: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-y: auto;
	background-size: cover;
	color: #000;
	text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
#portfolio, #skills, #contact {
	display: none;
}

.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
}
.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	z-index: 0;
}
.cover-container {
	margin-right: auto;
	margin-left: auto;
}

/* Padding for spacing */
.inner {
	max-width: 1200px;
	padding: 30px;
	position: fixed;
	width: 100%;
}

.portfolio,
.contact,
.skills {

	padding: 15px;
	font-size: 20px;
	background-color: rgba(0,0,0,0.05);
	border-top: 1px solid #000;
}
.portfolio ul {
	padding: 0;
}

.main-content a {
	color: #000;
}

.contact li {
  width: 20%;
  display: inline-block;
}

.logo2 {
	height: 60px;
	float: left;
}



/*
* Header
*/
.masthead-brand {
	margin-top: 10px;
	margin-bottom: 10px;
}

.masthead-nav > li {
	display: inline-block;
}
.masthead-nav > li + li {
	margin-left: 20px;
}
.masthead-nav > li > a {
	padding-right: 0;
	padding-left: 0;
	font-size: 19px;
	color: #fff; /* IE8 proofing */
	color: #000;
	border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
	background-color: transparent;
	opacity: 0.6;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
	color: #fff;
	border-bottom-color: #fff;
}
.nav-seperator {
	color: #00A300;
}

/*
* Portfolio
*/
.welcome {
  margin-right: 0px;
  animation-duration: 2s;
  animation-name: appear;
}
.welcome h1 {
	text-align: center;
	color: #fff;
	margin-bottom: 40px;
	margin-top: 200px;
	font-size: 100px;
	text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
}
.welcome h1 span {
	animation: upper 11s linear infinite;
}
.welcome p {
	animation-duration: 5s;
	animation-name: appear;
}

@keyframes appear {
  from {
  opacity: 0.1;
  }

  to {
  opacity: 1;
  }
}

.main-content p {
	font-size: 20px;
}
.error span {
	animation: upper 11s linear infinite;
}
.code span:nth-of-type(2) {
	animation: lower 10s linear infinite;
}
.code span:nth-of-type(1) {
	text-shadow: none;
	opacity:.4;
}
@keyframes upper {
	0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
		opacity:.99; text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
	}
	20%,21.999%,63%,63.999%,65%,69.999% {
		opacity:0.4; text-shadow: none;
	}
}

.main-content {
	animation-duration: 2s;
	animation-name: slidein;
}

@keyframes slidein {
	from {
		margin-left: 100%;
		width: 100%;
	}

	to {
		margin-left: 0%;
		width: 100%;
	}
}
@media (min-width: 320px) {
	body {
		background-color: #deeef9;
	}
	.error {
		animation-duration: 2s;
  		animation-name: appear;
		text-align: center;
	}

	.cover-container {
		margin-bottom: 90px;
	}
	.portfolio {
		font-size: 18px;
	}
	.portfolio img {
		width: 85%;
	}
	.contact-links {
		padding: 0;
	}
	.contact-links > li + li {
		margin-left: 30px;
	}

	.logo {
		height: 65px;
	}
	.inner {
		padding: 0px;
		background-color: #fff;
		z-index: 20;
	}
	.error {
		color: #fff;
		font-size: 58px;
		margin-bottom: 40px;
		margin-top: 155px;
		text-align: center;
		text-shadow: 0 0 80px #ffffff, 0 0 6px #0000ff;
	}
	.masthead-nav {
		display: none;
	}
	.welcome h1 {
		font-size: 70px;
	}
	.welcome p {
		font-size: 19px;
	}
/*
* Footer
*/

.mastfoot {
	position: relative;
	color: #999; /* IE8 proofing */
	color: rgba(255,255,255,.5);
}


/*
* Affix and center
*/

	/* Pull out the header and footer */
	.masthead {
		position: absolute;
		top: 0;
	}

	/* Handle the widths */
	.masthead,
	.mastfoot,
	.cover-container {
		width: 100%; /* Must be percentage or pixels for horizontal alignment */
	}
	.footer-links, .mastfoot p {
		display: none;
	}

	.mastfoot-nav {
		padding: 0;
		margin-top: 20px;

	}
	.mastfoot-nav li {
	display: inline-block;
	}
	.mastfoot-nav > li + li {
		margin-left: 50px;
	}
	.mastfoot-nav > li > a {
		padding-right: 0;
		padding-left: 0;
		font-size: 24px;
		color: #fff; /* IE8 proofing */
		color: #000;
		border-bottom: 2px solid transparent;
	}
	.mastfoot-nav span {
		display: block;
		font-size: 12px;
	}

}
@media (min-width: 360px) {
	.error {
		font-size: 82px;
	}

	.mastfoot-nav {
	padding: 0;
	}
}
/*@media (max-height: 612px) {
	.mastfoot {
		position: relative;
	}
}*/
@media (min-width: 768px) {
	body {
		background-color: #fff;
	}
	.masthead-brand {
		float: left;
	}
	.mastfoot {
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	height: 70px;
	color: #fff;
	padding: 15px;
	}
	.mastfoot p {
		display: block;
		margin-bottom: 0;
		margin-top: 10px;
		margin-left: 100px;
		float: left;
	}
    .footer-links {
    	display: block;
    	float: right;
    	margin-right: 40px;
    	width: 33%;
    }
    .footer-links li {
    	display: inline-block;
    	width: 25%;
    }
    .footer-links i {
    	color: #fff;
    }
/*
* Cover
*/

.cover {
	padding: 0 20px;
}
.cover .btn-lg {
	padding: 10px 20px;
	font-weight: bold;
}



}

@media (min-width: 992px) {
	.masthead,
	.cover-container {
		width: 1200px;
		margin-bottom: 73px;
	}
	.inner {
		padding: 10px;
		background-color: rgba(0,0,0,0);
	}
	.welcome p{
		font-size: 25px;
	}
	.error {
		margin-top: 140px;
		margin-right: 50px;
		text-align: right;
	}

	.masthead-nav {
		display: block;
		text-align: left;
    	margin-left: 450px;
	}
	.mastfoot-nav {
		display: none;
	}

	.logo {
		float: left;
	}
	.welcome h1 {
		font-size: 100px;
	}
	.portfolio li {
		display: inline-block;
		width: 32%;
	}
}

@media (min-width: 1025px) {
	.masthead-nav {
    	margin-left: 810px;
	}
}
